wsdl2kotlin/src/test/resources/sample.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.sample.codefirst.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.sample.codefirst.org/" name="SampleService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.sample.codefirst.org/" schemaLocation="http://localhost:8080/service?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="echoString">
        <part name="parameters" element="tns:echoString"/>
    </message>
    <message name="echoStringResponse">
        <part name="parameters" element="tns:echoStringResponse"/>
    </message>
    <message name="echoBoolean">
        <part name="parameters" element="tns:echoBoolean"/>
    </message>
    <message name="echoBooleanResponse">
        <part name="parameters" element="tns:echoBooleanResponse"/>
    </message>
    <message name="echoInt">
        <part name="parameters" element="tns:echoInt"/>
    </message>
    <message name="echoIntResponse">
        <part name="parameters" element="tns:echoIntResponse"/>
    </message>
    <message name="echoFloat">
        <part name="parameters" element="tns:echoFloat"/>
    </message>
    <message name="echoFloatResponse">
        <part name="parameters" element="tns:echoFloatResponse"/>
    </message>
    <message name="echoLong">
        <part name="parameters" element="tns:echoLong"/>
    </message>
    <message name="echoLongResponse">
        <part name="parameters" element="tns:echoLongResponse"/>
    </message>
    <message name="echoDate">
        <part name="parameters" element="tns:echoDate"/>
    </message>
    <message name="echoDateResponse">
        <part name="parameters" element="tns:echoDateResponse"/>
    </message>
    <message name="echoByteArray">
        <part name="parameters" element="tns:echoByteArray"/>
    </message>
    <message name="echoByteArrayResponse">
        <part name="parameters" element="tns:echoByteArrayResponse"/>
    </message>
    <message name="echoBASE64Binary">
        <part name="parameters" element="tns:echoBASE64Binary"/>
    </message>
    <message name="echoBASE64BinaryResponse">
        <part name="parameters" element="tns:echoBASE64BinaryResponse"/>
    </message>
    <message name="echoUser">
        <part name="parameters" element="tns:echoUser"/>
    </message>
    <message name="echoUserResponse">
        <part name="parameters" element="tns:echoUserResponse"/>
    </message>
    <message name="echoStringArray">
        <part name="parameters" element="tns:echoStringArray"/>
    </message>
    <message name="echoStringArrayResponse">
        <part name="parameters" element="tns:echoStringArrayResponse"/>
    </message>
    <message name="echoUserArray">
        <part name="parameters" element="tns:echoUserArray"/>
    </message>
    <message name="echoUserArrayResponse">
        <part name="parameters" element="tns:echoUserArrayResponse"/>
    </message>
    <message name="echoMap">
        <part name="parameters" element="tns:echoMap"/>
    </message>
    <message name="echoMapResponse">
        <part name="parameters" element="tns:echoMapResponse"/>
    </message>
    <message name="echoException">
        <part name="parameters" element="tns:echoException"/>
    </message>
    <message name="echoExceptionResponse">
        <part name="parameters" element="tns:echoExceptionResponse"/>
    </message>
    <message name="echoUserWithPermission">
        <part name="parameters" element="tns:echoUserWithPermission"/>
    </message>
    <message name="echoUserWithPermissionResponse">
        <part name="parameters" element="tns:echoUserWithPermissionResponse"/>
    </message>
    <message name="echoRoom">
        <part name="parameters" element="tns:echoRoom"/>
    </message>
    <message name="echoRoomResponse">
        <part name="parameters" element="tns:echoRoomResponse"/>
    </message>
    <message name="echoUserWithAge">
        <part name="parameters" element="tns:echoUserWithAge"/>
    </message>
    <message name="echoUserWithAgeResponse">
        <part name="parameters" element="tns:echoUserWithAgeResponse"/>
    </message>
    <portType name="Sample">
        <operation name="echoString">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoStringRequest" message="tns:echoString"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoStringResponse" message="tns:echoStringResponse"/>
        </operation>
        <operation name="echoBoolean">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoBooleanRequest" message="tns:echoBoolean"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoBooleanResponse" message="tns:echoBooleanResponse"/>
        </operation>
        <operation name="echoInt">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoIntRequest" message="tns:echoInt"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoIntResponse" message="tns:echoIntResponse"/>
        </operation>
        <operation name="echoFloat">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoFloatRequest" message="tns:echoFloat"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoFloatResponse" message="tns:echoFloatResponse"/>
        </operation>
        <operation name="echoLong">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoLongRequest" message="tns:echoLong"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoLongResponse" message="tns:echoLongResponse"/>
        </operation>
        <operation name="echoDate">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoDateRequest" message="tns:echoDate"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoDateResponse" message="tns:echoDateResponse"/>
        </operation>
        <operation name="echoByteArray">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoByteArrayRequest" message="tns:echoByteArray"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoByteArrayResponse" message="tns:echoByteArrayResponse"/>
        </operation>
        <operation name="echoBASE64Binary">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoBASE64BinaryRequest" message="tns:echoBASE64Binary"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoBASE64BinaryResponse" message="tns:echoBASE64BinaryResponse"/>
        </operation>
        <operation name="echoUser">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoUserRequest" message="tns:echoUser"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoUserResponse" message="tns:echoUserResponse"/>
        </operation>
        <operation name="echoStringArray">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoStringArrayRequest" message="tns:echoStringArray"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoStringArrayResponse" message="tns:echoStringArrayResponse"/>
        </operation>
        <operation name="echoUserArray">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoUserArrayRequest" message="tns:echoUserArray"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoUserArrayResponse" message="tns:echoUserArrayResponse"/>
        </operation>
        <operation name="echoMap">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoMapRequest" message="tns:echoMap"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoMapResponse" message="tns:echoMapResponse"/>
        </operation>
        <operation name="echoException">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoExceptionRequest" message="tns:echoException"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoExceptionResponse" message="tns:echoExceptionResponse"/>
        </operation>
        <operation name="echoUserWithPermission">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoUserWithPermissionRequest" message="tns:echoUserWithPermission"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoUserWithPermissionResponse" message="tns:echoUserWithPermissionResponse"/>
        </operation>
        <operation name="echoRoom">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoRoomRequest" message="tns:echoRoom"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoRoomResponse" message="tns:echoRoomResponse"/>
        </operation>
        <operation name="echoUserWithAge">
            <input wsam:Action="http://service.sample.codefirst.org/Sample/echoUserWithAgeRequest" message="tns:echoUserWithAge"/>
            <output wsam:Action="http://service.sample.codefirst.org/Sample/echoUserWithAgeResponse" message="tns:echoUserWithAgeResponse"/>
        </operation>
    </portType>
    <binding name="SamplePortBinding" type="tns:Sample">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="echoString">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoBoolean">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoInt">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoFloat">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoLong">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoByteArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoBASE64Binary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoStringArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoUserArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoMap">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoException">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoUserWithPermission">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoUserWithAge">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SampleService">
        <port name="SamplePort" binding="tns:SamplePortBinding">
            <soap:address location="http://localhost:8080/service"/>
        </port>
    </service>
</definitions>